body {    
    background-color: #111113;
    margin: 0;
    height: 100%;
}
header {
    background-color: #24252a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    padding-left: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}
main {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: purple;
}
footer {
    background-color: blue;
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.Logo {
    cursor: pointer;
    width: 5%;
    height: auto;
}

.DiscordButton {
    cursor: pointer;
    padding: 9px 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: rgba(24, 21, 180, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    color: white;
}

.DiscordButton:hover {
    background-color: rgba(24, 21, 180, 0.7);
    
}

.WebsiteTitle {
    color: white;
    font-size: xxx-large;
}

.container {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 25% 25% 30%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
        "jobSelectCol rotationRow rotationRow rotationRow"
        "jobSelectCol jobSkillsCol globalSkillsCol skillTooltipCol";
}

.jobSelectCol {
    width: 10%;
    background-color: blue;
    height: 100%;
    grid-area: jobSelectCol;
}

.rotationRow {
    width: 90%;
    background-color: aqua;
    grid-area: rotationRow;
}
.jobSkillsCol {
    width: 50%;
    background-color: chartreuse;
    grid-area: jobSkillsCol;
}
.globalSkillsCol {
    width: 25%;
    background-color: darkred;
    grid-area: globalSkillsCol;
}
.skillTooltipCol {
    width: 25%;
    background-color: fuchsia;
    grid-area: skillTooltipCol;
}