body {    
    background-color: #111113;
    margin: 0;
    height: 100%;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 8vh;
}
.WebsiteTitle {
    color: white;
    font-size: 7vh;
}
.DiscordButton {
    cursor: pointer;
    padding: 9px 25px;
    background-color: #242424;
    border-radius: 50px;
    border-color: blue;
    color: white;
}
.DiscordButton:hover {
    background-color: rgba(24, 21, 180, 0.7);
}
main {
    width: 100%;
    height: 100%;
    margin: 0;
}
footer {
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 4vh;
    align-items: center;
}
.footerBtn {
    cursor: pointer;
    background-color: transparent;
    border-color: blue;
    border-radius: 5%;
    color: white;
    padding-right: 5px;
}
.Logo {
    width: 8vh;
    height: auto;
}

.btnClearRotation, .btnExportRotation, .btnShareRotation, #btnBuffWindow {
    cursor: pointer;
    padding: 9px 25px;
    background-color: transparent;
    border-color: red;
    border-radius: 50px;
    color: white;
    justify-self: end;
    align-self: center;
    margin: 5px;
}
.btnExportRotation, .btnShareRotation, #btnBuffWindow {
    border-color: #5AC629;
}

.container {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 35% 20% 25%;
    grid-template-rows: 
        40% 
        60%;
    grid-template-areas: 
        "jobSelectCol rotationRow rotationRow rotationRow"
        "jobSelectCol jobSkillsCol globalSkillsCol skillTooltipCol";
    height: calc(100vh - 8vh);
}
.jobSelectCol {
    grid-area: jobSelectCol;
}
.rotationRow {
    grid-area: rotationRow;
    display: grid;
    grid-template-rows: 
        85% 
        15%;
}
.jobSkillsCol {
    grid-area: jobSkillsCol;
    display: grid;
}
.globalSkillsCol {
    grid-area: globalSkillsCol;
    display: grid;
}
.skillTooltipCol {
    grid-area: skillTooltipCol;
    align-self: center;
    justify-self: center;
    display: grid;
    background-color: #242424;
    border-style: solid;
    border-color: #9b9b9b;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}
.jobSelectTitle {
    font-size: x-large;
    justify-self: center;
    align-self: center;
    grid-row: 1;
}
#roleSkillsOuter {
    grid-row: 1;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-style: solid;
    border-color: #9b9b9b;
    border-radius: 15px;
    padding: 15px;
    background-color: #242424;
    margin: auto;
}
#generalActionsOuter {
    grid-row: 2;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-style: solid;
    border-color: #9b9b9b;
    border-radius: 15px;
    padding: 15px;
    background-color: #242424;
    margin: auto;
}
.jobSelectCol {
    display: grid;
    height: 100%;
    grid-template-rows: 
        4% 
        16% 
        16% 
        16% 
        16% 
        16% 
        16%;
}
.roleJob {
    font-size: xx-large;
    justify-content: center;
    align-self: center;
    text-align: center;
    border-style: solid;
    border-color: #9b9b9b;
    border-radius: 15px;
    padding: 15px;
    background-color: #242424;
    margin: auto;
}
.roleJobSpan {
    justify-self: center;
    align-self: center;
}
#role-1 {
    grid-row: 2;
}
#role-4 {
    grid-row: 3;
}
#role-2 {
    grid-row: 4;
}
#role-3 {
    grid-row: 5;
}
#role-6 {
    grid-row: 6;
}
#role-5 {
    grid-row: 7;
}
#SkillNameTooltip {
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: xX-large;
}
#jobSkillsListGCDOuter {
    grid-row: 1;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-style: solid;
    border-color: #9b9b9b;
    border-radius: 15px;
    padding: 15px;
    background-color: #242424;
    margin: auto;
}
#jobSkillsListOGCDOuter {
    grid-row: 2;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-style: solid;
    border-color: #9b9b9b;
    border-radius: 15px;
    padding: 15px;
    background-color: #242424;
    margin: auto;
}
.rotationBar {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-items: center;
}
.rotationButtons {
    grid-row: 2;
    display: flex;
    justify-content: space-between;
}
#rotationActual {
    align-self: center;
    justify-self: center;
}
.imgHover {
    cursor: pointer;
}
.ogcd {
    padding-bottom: 20px;
}
#SSS {
    background-color:transparent;
    border-color: red;
    border-radius: 50px;
    color: white;
}
.skillListDesc {
    align-self: center;
    justify-self: center;
    grid-row: 1;
    text-align: center;
}
#generalActions {
    grid-row: 2;
}
#roleSkills {
    grid-row: 2;
}
#jobSkillsListOGCD {
    grid-row: 2;
}
#jobSkillsListGCD {
    grid-row: 2;
}
/* FFXIV Roles Colors 
Dark
DPS: #843131
Tank: #425ABD
Healer: #397B18

Light
DPS: #CE5252
Tank: #6B94E7
Healer: #5AC629 
*/
#roleTank {
    background-color: #425ABD;
}
#roleHealer {
    background-color: #397B18;
}
#roleMelee, #rolePhyRange, #roleMagRange {
    background-color: #843131;
}
#roleSpeSnow {
    background-color: #843131;
}

#SpeedInput {
    grid-row: 2;
}
#SpeedSpan {
    grid-row: 1;
    text-align: center;
}
.BuffBar {
    height: 20px;
    text-align: center;
}
#rotationDiv {
    grid-template-rows: auto;
    border-style: solid;
    border-color: #9b9b9b;
    border-radius: 15px;
    padding: 15px;
    background-color: #242424;
}
