.vscode/settings.json
WebPageDesign.drawio

# Typescript
.vscode/launch.json
.vscode/tasks.json
# Typescript nonsense
# *.ts
# /scripts/typescript/
# /node_modules/
# package.json
# package-lock.json
# tsconfig.json
