/* FFXIV Roles Colors 
Dark
DPS: #843131
Tank: #425ABD
Healer: #397B18

Light
DPS: #CE5252
Tank: #6B94E7
Healer: #5AC629
*/

:root {
    color: white;
    background-color: black;
    /* --dark-tank-bg: #425ABD;
    --dark-healer-bg: #397B18;
    --dark-dps-bg: #843131;
    --light-tank-bg: #6B94E7;
    --light-healer-bg: #5AC629;
    --light-dps-bg: #CE5252; */
}

body {
    margin: 0;
    padding: 0;
    color: White;
    background-color: #1A1A1A;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: black;
}
body::-webkit-scrollbar-thumb {
    background: white;
}

header {
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #1A1A1A;
}

main {
    background-color: #1A1A1A;
}

#WebpageTitle {
    font-size: xx-large;
}

header span {
    justify-self: center;
    align-self: center;
}
#HeaderDivBtnGroup {
    display: flex;
}
button {
    cursor: pointer;
}