/* FFXIV Roles Colors 
Dark
DPS: #843131
Tank: #425ABD
Healer: #397B18

Light
DPS: #CE5252
Tank: #6B94E7
Healer: #5AC629
*/


#JobSelect input[type="radio"] {
    appearance: none;
    cursor: pointer;
}
#JobSelect input[type="radio"]:checked {
    opacity: 1;
}
.JobSelectImage {
    min-height: 56px;
    min-width: 56px;
    height: 56px;
    background-size: 56px;
    opacity: 0.6;
}

.GCDIcon,
.OGCDIcon,
.RoleIcon,
.RaidBuffIcon,
.GlobalSkillsIcon {
    height: 76px;
    width: 76px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}