
.hide-scrollbar
{
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

body {
    background-color: #1a1a1a;
    color: #f5f5f5;
    margin: 5px;
    padding: 5px;
    height: calc(100vh - 20px);
    min-width: 330px;
    position: relative;
}

/*#region Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ffxiv-logo-header {
    height: 50px;
    cursor: pointer;
}
#page-title {
    font-size: xx-large;
}
@media screen and (max-width: 359px) {
    #page-title {
        font-size: large;
    }
}
#discord-btn {
    font-size: large;
}
/*#endregion*/

/*#region Main*/
main {
    height: calc(100vh - 15px - 50px - 31px);
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-areas: "Job-Select main";
}
/*#region Job-Select*/
#Job-Select {
    grid-area: Job-Select;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}
.JobSelect-Icon {
    min-height: 46px;
    border: solid;
    border-color: #e2cb87;
    border-radius: 13px;
    margin: 2px;
    height: 46px;
    background-size: 40px;
    opacity: 0.5;
}
#Job-Select input[type="radio"] {
    appearance: none;
    cursor: pointer;
}
#Job-Select input[type="radio"]:checked {
    opacity: 1;
}
/*#endregion*/
#main {
    grid-column: 2;
    display: grid;
    overflow-y: scroll;
    grid-template-rows: minmax(300px, 40%) minmax(80px, 10%) minmax(400px, 50%);
}
#Rotation-Main {
    justify-content: left;
    align-content: center;
}
/*#region Action Buttons*/
@media screen and (max-width: 820px) {
    #Action-Buttons {
        display: grid;
        grid-template-columns: minmax(62px, 35%) 1fr;
        grid-template-rows: repeat(4, minmax(40px, 1fr));
    }
    #ActionLists {
        overflow-y: scroll;
        grid-row: span 4;
    }
    #GCD {
        grid-row: 1;
        grid-column: 1;
    }
    #OGCD {
        grid-row: 2;
        grid-column: 1;
    }
    #Role-Skills {
        grid-row: 3;
        grid-column: 1;
    }
    #Global-Skills {
        grid-row: 4;
        grid-column: 1;
    }
    #Skill-Tooltip {
        grid-row: 1 / span 4;
        grid-column: 2;
    }
}
@media screen and (min-width: 821px) {
    #Action-Buttons {
        display: grid;
        grid-template-columns: minmax(62px, 35%) 80px 1fr;
    }
    #ActionLists {
        grid-column: span 2;
        display: grid;
        grid-template-columns: minmax(62px, auto) 80px;
        grid-template-rows: repeat(3, minmax(40px, auto));
    }
    #GCD {
        grid-row: 1;
        grid-column: 1;
    }
    #OGCD {
        grid-row: 2;
        grid-column: 1;
    }
    #Role-Skills {
        grid-row: 3;
        grid-column: 1;
    }
    #Global-Skills {
        grid-row: 1 / span 3;
        grid-column: 2;
    }
    #Skill-Tooltip {
        grid-row: 1 / span 3;
        grid-column: 3;
    }
}
.Border-Div {
    border: solid;
    border-color: #e2cb87;
    border-radius: 3px;
    border-radius: 13px;
    margin: 2px;
    padding: 5px;
    display: grid;
    justify-content: center;
    grid-template-rows: min-content auto;
}
.Category-Title {
    grid-row: 1;
    text-align: center;
}
.Skill-Icon-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    align-content: center;
}
#Special-GCD-List,
#Special-OGCD-List {
    border-style: solid;
    border-width: 2px;
    border-color: #e2cb87;
    border-radius: 13px;
}
.Skill-Icon {
    width: 40px;
    height: 40px;
    border: solid;
    border-width: 2px;
    border-color: #e2cb87;
    border-radius: 13px;
    margin: 2px;
    cursor: pointer;
}
/*#endregion*/
/*#region ToolTip*/
#Skill-Tooltip {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
        2fr
        5fr
        1fr
        1fr;
}
#Tooltip-title,
#Tooltip-CastTime,
#Tooltip-RecastTime,
#Tooltip-Range,
#Tooltip-Radius {
    align-self: center;
    justify-self: center;
}
#Tooltip-img {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    max-height: 40px;
}
#Tooltip-desc {
    grid-column: 1 / span 2;
    align-self: center;
}
#Tooltip-desc > span[style="color:#00cc22;"]::before {
    content: "\A";
    white-space: pre;
}
/*#endregion*/
/*#region Rotation*/
#Rotation-Div {
    min-width: 40px;
    min-height: 40px;
}

/*This block makes it resizable but only on the right side, not the left*/
#Rotation-Buffs > div {
    resize: horizontal;
    overflow: hidden;
}

.Skill-Rotation {
    border: hidden;
    height: 40px;
    cursor: pointer;
}
.Skill-Rotation.over {
    border: 3px dotted #666;
}
#Rotation-Skills {
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
    height: fit-content;
}
/*#endregion*/
/*#region Option-Buttons*/
#Option-Buttons {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-rows: 1fr;
    overflow: scroll;
    min-width: 357px;
}
#BuffPicker {
    display: grid;
    align-items: center;
}
#BuffName {
    grid-row: 1;
    grid-column: 1;
    border-radius: 13px;
    text-align: center;
    background-color: #666666;
    color: #f5f5f5;
}
#BuffName::placeholder {
    color: #f5f5f577;
}
#BuffColor {
    grid-row: 1;
    grid-column: 2;
    border-radius: 13px;
    background-color: transparent;
    border-color: transparent;
    padding-top: 4px;
}
#AddBuffButton {
    grid-row: 2;
    grid-column: 1 / span 2;
}
#RotationBuffList {
    grid-row: 1;
    grid-column: 3;
}
#deleteBuff {
    grid-row: 2;
    grid-column: 3;
}
#buffMinusMargin {
    grid-row: 1;
    grid-column: 4;
    min-width: 30px;
}
#buffPlusMargin {
    grid-row: 1;
    grid-column: 5;
    min-width: 30px;
}
.draggable {
    margin: 0;
}
#ClearRotationButton {
    grid-column: 2;
}
/*#endregion*/
/*#endregion*/

/*#region Footer*/
footer {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 220px;
    height: 31px;
}
/*#endregion*/

/*#region Classes*/

/*#endregion*/

/*#region MainTagsDefine*/
button {
    background-color: #2a2a2a;
    border: solid;
    border-color: #f5f5f5;
    border-radius: 10px;
    color: #f5f5f5;
    cursor: pointer;
    padding: 5px;
}
::-webkit-scrollbar {
    /*ghfjsdgfsdhjfgdhsjgfhsdjkgfhjdkgfhjsdgfhjks*/
    display: none; /*Hide scrollbar*/
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Make scrollbar invisible */
}

/* Yes, this is bad practice. this might be an option later. */
*:focus {
    outline: none;
}
/*#endregion*/

/*#region Special Snowflake*/
/* Notes:
Hides the content of the page and replaces it with a message saying to use a wider screen
this is because the page breaks on screens too small and having css workaround is a PITA.
*/
@media screen and (max-width: 359px) {
    body {
        background-color: red;
        border: unset;
        display: flex;
    }
    header,
    main,
    footer {
        display: none;
    }
    #SMOL-SCREEN {
        display: block;
        flex: auto;
        justify-self: center;
        align-self: center;
        text-align: center;
        color: white;
    }
}
@media screen and (min-width: 360px) {
    #SMOL-SCREEN {
        display: none;
    }
}
/*#endregion*/

/* FFXIV Roles Colors 
Dark
DPS: #843131
Tank: #425ABD
Healer: #397B18

Light
DPS: #CE5252
Tank: #6B94E7
Healer: #5AC629
*/
