#JobSelect input[type="radio"] {
    appearance: none;
    cursor: pointer;
}
label:has(input:checked) {
    opacity: 1;
}

#JobSelect label {
    cursor: pointer;
}
.JobSelectRole {
    display: flex;
    justify-content: center;
    align-content: center;
}
.JobSelectImage {
    background-size: auto;
    opacity: 0.65;
    display: flex;
    align-self: center;
    justify-self: center;
}
#JobSelect {
    background-color: #1a1a1a;
    z-index: 1;
    position: fixed;
    align-self: center;
    justify-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    border-radius: 5%; /* Note to self: this is meant to be 5% not 5px*/
    border-color: #e2cb87;
}
.JobSelectRoleTitle {
    font-size: xx-large;
}
.JobSelectImage input {
    margin: 0;
}

.JobSelectImage img {
    height: 80px;
    width: 80px;
    justify-self: center;
    align-self: center;
}

/*
.parent {
    display: flex;
    justify-content: 'center' | 'space-between'; Horizontal alignment
    align-content: 'center' | 'space-between';  Vertical alignment
    align-items: 'center' | 'space-between';
}

.parent {
    display: grid;

}
*/