#SkillSelect {
    display: contents;
}


.GCDIcon img,
.OGCDIcon img,
.RoleActionsIcon img,
.RaidBuffsIcon img,
.GlobalSkillsIcon img {
    height: 40px;
    width: 40px;
}

.GCDIcon,
.OGCDIcon,
.RoleActionsIcon,
.RaidBuffsIcon,
.GlobalSkillsIcon {
    height: 40px;
    width: 40px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-size: 40px;
}
