#Timeline {
    --timeline-image-size: 60px;

    height: fit-content;
    width: calc(100vw-10px);
    display: grid;
    border: solid;
    border-width: 3px;
    border-radius: 5px;
}
#TimelineDiv {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
}

#RaidBuffsTimeline {
    position: relative;
    height: fit-content;
}

#SkillsTimeline {
    height: fit-content;
    min-height: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#SkillsTimeline .OGCD img{
    padding-bottom: calc(var(--timeline-image-size)/2);
}
#SkillsTimeline .GCD img{
    padding-top: calc(var(--timeline-image-size)/2);
}
#TimelineBtns {
    display: flex;
    justify-content: end;
    align-content: end;
    border: none;
}

#RaidBuffsTimeline div {
    text-align: center;
    resize: horizontal;
    overflow: auto;
    border-radius: 5px;
    cursor: grab;
}

#SkillsTimeline img, #SkillsTimeline button {
    height: var(--timeline-image-size);
    width: var(--timeline-image-size);
}

#SkillsTimeline #Pull_Placeholder,#SkillsTimeline #Pull_Placeholder img {
    height: calc(var(--timeline-image-size)*1.5);
    width: calc(var(--timeline-image-size)/2);
    padding-top: 0;
}