#Tooltip {
    display: none;
    position: fixed;
    border: solid;
    border-radius: 5px;
    border-color: #e2cb87;
    background-color: #1a1a1a;
}
#SkillTooltipCast, #SkillTooltipRecast, #SkillTooltipRange, #SkillTooltipRadius {
    display: none;
}
#SkillTooltipName {
    justify-content: center;
    display: flex;
}